<IfModule mod_rewrite.c>
    RewriteEngine On

    # 301 redirect direct /public/... requests from browsers to clean URLs
    RewriteCond %{THE_REQUEST} \s/public/([^\s?]*) [NC]
    RewriteRule ^ /%1 [L,R=301,NE]

    # Redirect trailing slashes if not a folder
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Internally forward everything to the public folder
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
